@font-face {
	font-family:"websym";
	src:url("../fnt/WebSymbols-Regular.eot?") format("eot"),url("../fnt/WebSymbols-Regular.woff") format("woff"),url("../fnt/WebSymbols-Regular.ttf") format("truetype"),url("../fnt/WebSymbols-Regular.svg#WebSymbols-Regular") format("svg");
	font-weight:normal;
	font-style:normal;
}
body {
	margin: 0px;
	background-color: #ffffff;
	color: #1e0a47;
	font-family: verdana, arial, helvetica, sans-serif;
}
a{
	color: #4d1dcb;
	text-decoration: none
}
a:hover {
	color: #8150e7;
}

.header{
	background-color: #eed;
	left: 64px;
	right: 0px;
	height: 64px;
	position: fixed;
	

}
.navibar{
	display: none;
	font-size: 8pt;
}

[class|="menu-has"]:hover > ul.menu{
	display:block;
}
.nav{
	list-style: none;
}
.nav>li{
	float: left;
	background-color: #ddc;
	padding: 3px;
}
.nav>li>a{
	margin: 10px 15px 10px;
}
.menu{
	position: absolute;
	display: none;
	min-width: 280px;
	list-style: none;
	background-color: #ccb;
}
.menu-has-sub{
	position:relative;
}
.menu-has-sub>.menu{
	top: 0;
	left: 100%;
}

.logo{
	position: fixed;
	width: 60px;
	height: 64px;
	background-color: #ddc;
	color: #f7593e;
	padding-left: 4px;
	line-height: 60px;
	font-size: 24pt;
	font-weight: bold;
	text-shadow: 5px 5px 0px #775;
}
.side{
	width: 64px;
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #eed;
	top: 64px;
	bottom: 0px;
	text-align: center;
}

a.rollup:hover {
	color: #ddc;
}
.rollup{
	font-family: 'websym';
	font-size: 24pt;
	line-height: 50px;
	padding: 10px;
	color: #ccb;

}
hr {
	border: 0;
	border-bottom: 4px solid #ccb;
	margin: auto;
	width: 80%;
}

img{
	width: 100%;
}
.scrcomp{
	display: none;
	background-color: rgba(0, 0, 0, .8);
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	position: fixed;
	padding-top: 10px;
	padding-bottom: 60px;
	text-align: center;

}
.scrcomp>img{
	height: 50%;
	width: auto;

}

.article{
	min-width: 680px;
	max-width: 1024px;
	padding-top: 64px;
	padding-left: 84px;
	padding-right: 20px;
	min-height: 128px;
}
.footer{
	padding-left: 84px;
	font-size: 8pt;
}
.footer img{
	width: 18px;
}