@font-face {
	font-family:"websym";
	src:url("../fnt/WebSymbols-Regular.eot?") format("eot"),url("../fnt/WebSymbols-Regular.woff") format("woff"),url("../fnt/WebSymbols-Regular.ttf") format("truetype"),url("../fnt/WebSymbols-Regular.svg#WebSymbols-Regular") format("svg");
	font-weight:normal;
	font-style:normal;
}

body {
	margin: 0px;
	background-color: #fff;
	color: #1e0a47;
	font-family: verdana, arial, helvetica, sans-serif;
}
a{
	color: #887;
	text-decoration: none
}
a:hover {
	color: #ffe;
}
article p a:hover{
	text-decoration: underline;
	color: #887;
}
header{
	background-color: #eed;
	left: 0px;
	right: 0px;
	height: 64px;
	position: fixed;
}

[class|="menu-has"]:hover > ul.menu{
	display:block;
}
.nav{
	list-style: none;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 18pt;

}
.nav>li{
	float: left;
	margin-left: 64px;
	margin-top: 16px;
}
.menu{
	position: absolute;
	display: none;
	padding-right: 40px;
	padding-left: 40px;
	list-style: none;
	background-color: #ccb;
	font-size: 14pt;
}
header form{
	float: right;
}

#logo{
	position: fixed;
	width: 60px;
	height: 64px;
	background-color: #ddc;
	padding-left: 4px;
	line-height: 60px;
	font-size: 24pt;
	font-weight: bold;
	text-shadow: 5px 5px 0px #775;
}
#logo a{
	color: #f7593e;
}
#side{
	width: 64px;
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #eed;
	top: 64px;
	bottom: 0px;
	text-align: center;
}

a.rollup:hover{
	color: #ddc;
}
.rollup{
	font-family: 'websym';
	font-size: 24pt;
	line-height: 50px;
	padding: 10px;
	color: #ccb;

}
hr {
	border: 0;
	border-bottom: 4px solid #ccb;
	margin: auto;
	margin-bottom: 4px;
	width: 80%;
}

img{
	display: block;
	max-width: 100%;
	margin: auto;
}
#scrcomp{
	display: none;
	background-color: rgba(0, 0, 0, .8);
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: fixed;
	padding-top: 10px;
	padding-bottom: 60px;
	text-align: center;
}
#scrcomp>img{
	height: 50%;
	width: auto;
}
#scrcomp>div{
	position: absolute;
	bottom: 0;
	width: 100%;
}
article{
	min-width: 100px;
	max-width: 1024px;
	padding-top: 64px;
	padding-left: 84px;
	padding-right: 20px;
	min-height: 128px;
}
p{
	text-indent: 40px;
}
h1{
	font-size: 2em;
}
footer{
	padding-left: 84px;
	font-size: 8pt;
}
footer img{
	width: 18px;
	display: inline-block;
}
@media screen and (max-width:800px) {
	#side{
		display: none;
	}
	article{
		padding-left: 5px;
		padding-top: 128px;
	}
	header{
		height: 128px;
	}
	.nav>li{
		float: none;
		margin-top: 0px;
		width: 20px;
	}
	.menu{
		margin-top: 4px;
		left: 5px;
		min-width: 245px;
	}
	header form{
		float: none;
		padding-left: 84px;
	}
	footer{
		padding-left: 5px;
	}
}
@media print{
	#side{
		display: none;
	}
	#logo{
		display: none;
	}
	header{
		display: none;
	}
	article{
		padding-left: 10px;
		padding-top: 0px;
		color: #000;
	}
	.rollup{
		display: none;
	}
}